body {
  background-color: rgb(208, 227, 240);
}
.contact-list {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-list h1 {
  text-align: center;
  color: #2d3e50;
}

.contact-list input {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.contact-list textarea {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.contact-list label {
  padding: 10px;
  margin: 10px;
  margin: 10px;
}

.contact-list button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-list button:hover {
  background-color: #45a049;
}

.contact-list ol {
  padding-left: 20px;
}

.contact-list li {
  padding: 8px;
  background-color: rgb(208, 227, 240);
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-list li button {
  background-color: #e74c3c;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
}

.contact-list li button:hover {
  background-color: #c0392b;
}
