.recipe-manager {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card section {
  display: flex;
  flex-direction: column;
}
.card {
  margin: 1rem !important;
}

.recipe-manager h1 {
  text-align: center;
  color: #2d3e50;
}

.recipe-manager input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0.5rem;
}

.recipe-manager select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0.5rem;
}

.recipe-manager textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0.5rem;
  font-family: Arial, sans-serif;
}

.recipe-manager button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-manager button:hover {
  background-color: #45a049;
}

.recipe-manager ol {
  padding-left: 20px;
}

.recipe-manager li {
  padding: 8px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-manager li button {
  background-color: #e74c3c;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
}

.recipe-manager li button:hover {
  background-color: #c0392b;
}

span span {
  font-weight: bold;
}
